<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>AC Controller</title>
  </head>
  <body>
    <h1>AC Controller</h1>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
    <script src="/static/css/sevenSeg.js"></script>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-4">
                        <p>Timer ON</p>
                    </div>
                    <div class="col-4">
                        <select name="time_on" id="time_on">
                            <option value="min_15">15 min</option>
                            <option value="min_30">30 min</option>
                            <option value="min_45">45 min</option>
                            <option value="min_60">60 min</option>
                            <option value="min_90">1.5 h</option>
                            <option value="min_120">2 h</option>
                          </select>
                    </div>
                    <div class="col-4">
                        <input type="checkbox" id="timer_on_act" name="timer_on_act" checked />
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p>Timer OFF</p>
                    </div>
                    <div class="col-4">
                        <select name="time_off" id="time_off">
                            <option value="min_15">15 min</option>
                            <option value="min_30">30 min</option>
                            <option value="min_45">45 min</option>
                            <option value="min_60">60 min</option>
                            <option value="min_90">1.5 h</option>
                            <option value="min_120">2 h</option>
                          </select>
                    </div>
                    <div class="col-4">
                        <input type="checkbox" id="timer_off_act" name="timer_off_act" checked />
                    </div>
                </div>
            </div>
            <div class="col-8" style="padding-left: 150px;">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <div class="row">
                                <img src="/static/images/arr_down.png" width="75" height="75" style="transform: rotate(180deg);">
                            </div>
                            <div class="row">
                                <img src="/static/images/arr_down.png" width="75" height="75">
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <div id="currtemp" class="med-sevenSegArray5"></div>
                            <script>
                                $("#currtemp").sevenSeg({ value: 99, digits: 2});
                            </script>
                        </div>
                    </div>

                </div>

            </div>
          </div>
    </div>
</body>
</html>